<footer>
	<p>Copyright <i class="fa-regular fa-copyright"></i> 2023 || By <a href="mailto:info@thebluemango.in">The Blue Mango</p>
		<a href="https://www.facebook.com/TheBlueMango1" title="Facebook"><i class="fa fa-facebook-square"></i></a>
	  <a href="https://www.instagram.com/thebluemango.in" title="Instagram"><i class="fa fa-instagram"></i></a>
	  <a href="https://www.twitter.com/thebluemango_" title="Twitter"><i class="fa fa-twitter-square"></i></a>
		<a href="https://wa.me/919136256950" title="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
</footer>
